body {
  background-color: hotpink;
  height: 100vh;
}

@media screen and (min-width: 500px) {
  body {
    background-color: yellowgreen;
  }
}

@media screen and (min-width: 1100px) {
  body {
    background-color: cornflowerblue;
  }
}
